<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mt_ga4>
            <general>
                <enable>0</enable>
                <product_identifier>2</product_identifier>
            </general>
            <gtm_api>
                <api_secret>api_secret</api_secret>
            </gtm_api>
        </mt_ga4>
    </default>
</config>
