<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ga4" frontName="ga4">
            <module name="Meetanshi_GA4"/>
        </route>
    </router>
</config>
